<center><h1>Esctaic congress presentations</h1></center>

<table class="sample">
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Category</th>
	<th>Venue</th>
	<th>Year</th>
	
	  </tr>

<% for publication in @publications %>
  <tr><td><%=h publication.author %></td>
     <td><a href="http://<%=h publication.url %>"><%=h publication.title %></a></td>
    <td><%=h publication.category %></td><td><%=h publication.year %></td><td><%=h publication.venue %></td>
  </tr>
  
<% end %>
</table>

<br />
<table>
<tr><td><%= will_paginate @publications %></td></tr>
</table>




