<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Admin area</title>
	</head>
	<body>
				<div id=main>
	 <% form_for :dump, :url=>{:controller=>"admin/homes",

                    :action=>"csv_import"},

                    :html => { :multipart => true } do |f| -%>
 <table>
 	<tr>
     <td>
      
        <h1>Administration area :</h1>
      
     </td>
     <td >
      
     </td>
   </tr>
   <tr>
     <td>
      <label for="dump_file">
        Upload a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :file -%>
     </td>
   </tr>

	<tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' -%>
     </td>
   </tr>
    <tr><br>
     <td colspan='2'>
 <%= link_to "Publications", {:controller => "admin/publications", :action => "index"} %>
</td></tr>
    <tr><br>
     <td colspan='2'>
 <%= link_to "Members", {:controller => "admin/publications", :action => "index"} %>
</td></tr>
    <tr><br>
     <td colspan='2'>
 <%= link_to "Photo's", {:controller => "admin/publications", :action => "index"} %>
</td></tr>
<tr><br>
     <td colspan='2'>
 <%= link_to "Return the public site", {:controller => "/homes", :action => "index"} %>
</td>
   </tr></table>
<% end -%>
 
</div>

	</body>
</html>
