<h1>Listing details</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Occupation</th>
    <th>Empolyer</th>
    <th>Street</th>
    <th>Number</th>
    <th>City</th>
    <th>Region</th>
    <th>Country</th>
    <th>Zip</th>
    <th>Telephone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Member</th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%=h detail.first_name %></td>
    <td><%=h detail.last_name %></td>
    <td><%=h detail.occupation %></td>
    <td><%=h detail.empolyer %></td>
    <td><%=h detail.street %></td>
    <td><%=h detail.number %></td>
    <td><%=h detail.city %></td>
    <td><%=h detail.region %></td>
    <td><%=h detail.country %></td>
    <td><%=h detail.zip %></td>
    <td><%=h detail.telephone %></td>
    <td><%=h detail.fax %></td>
    <td><%=h detail.email %></td>
    <td><%=h detail.member %></td>
    <td><%= link_to 'Show', detail %></td>
    <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
    <td><%= link_to 'Destroy', detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New detail', new_detail_path %>