<p>
  <b>First name:</b>
  <%=h @detail.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @detail.last_name %>
</p>

<p>
  <b>Occupation:</b>
  <%=h @detail.occupation %>
</p>

<p>
  <b>Empolyer:</b>
  <%=h @detail.empolyer %>
</p>

<p>
  <b>Street:</b>
  <%=h @detail.street %>
</p>

<p>
  <b>Number:</b>
  <%=h @detail.number %>
</p>

<p>
  <b>City:</b>
  <%=h @detail.city %>
</p>

<p>
  <b>Region:</b>
  <%=h @detail.region %>
</p>

<p>
  <b>Country:</b>
  <%=h @detail.country %>
</p>

<p>
  <b>Zip:</b>
  <%=h @detail.zip %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @detail.telephone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @detail.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @detail.email %>
</p>

<p>
  <b>Member:</b>
  <%=h @detail.member %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>